footer { margin: 1.5em auto 2em auto; text-align: center; }

footer > ul { list-style-type: none; padding-left: 0; }
footer > ul > li { display: inline-block; margin-right: 1em; }
footer > ul > li { color: #DADADA; }
footer > ul > li > a { color: #C2C2E6; }

h1, h2, h3, h4, h5, h6 { font-family: 'Open Sans', serif; color: #875A9C; }
li, p, span, { font-family: 'Arvo', serif; color: #2D2D2D; }
a { color: #AD84C2; }
a:hover, a:visited { color: #AD84C2 }

a.back-link { margin-bottom: 1em; display: block; color: #C2C2E6; }
a.back-link:hover { color: #AD84C2; }